@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
      font-family: Raleway,sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  background-color: #fff;
  color: #666;
  -webkit-font-smoothing: antialiased!important;
}
a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
a:focus, a:hover, a:active {
  text-decoration: underline;
  outline: 0;
  background-color: none;
}
ul,li {
    list-style-type: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: white;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto 0px;
    /* Pad bottom by footer height */
    padding: 0 0 0px;
}

#wrap > .container {
    padding: 60px 15px 0;
}
/*#wrap .container  .nav  {
	float: right;
}*/
.container .text-muted {
    margin: 20px 0;
}
.navbar-default {
   background-color: white; 
   border-color: none; 
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  position: relative;
}


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


#search_container {
  /*position: relative;*/
  height: 500px;
  background-color: #fff;
  width: 100%;
  display: table;
  z-index: 99;
}
#search {
  display: table-cell;
  vertical-align: middle;
   /* padding: 0 8%;
  padding-top: 100px;*/
}
#search .nav-tabs {
  border-radius: 0;
  font-size: 12px;
  border: 0;
  border-bottom: 1px solid transparent;
  margin-left: 10px;
  text-transform: uppercase;
    margin-left: 150px !important;
}
#search .nav-tabs > li.active > a, #search .nav-tabs > li.active > a:hover, #search .nav-tabs > li.active > a:focus {
  color: #fff;
  /*background-color: #e14d67;*/
}
/*.nav-tabs > li {
background-color: #fff;
  color: #fd4e0d;
  font-size: 13px;
  -webkit-box-shadow: 0px -2px 6px #bcbcbc;
  -moz-box-shadow: 0px -2px 6px #bcbcbc;
  -o-box-shadow: 0px -2px 6px #bcbcbc;
  -ms-box-shadow: 0px -2px 6px #bcbcbc;
  box-shadow: 0px -2px 6px #bcbcbc;
 text-shadow: 1px 1px 1px #bcbcbc;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  margin-right: 5px;
  padding: 5px 10px;
  position: relative;
  z-index: 900;
  border: 0;
  float: left;
  margin-bottom: -1px;
}
*/
#search .nav-tabs > li > a,#search .nav-tabs > li > a:hover,#search .nav-tabs > li > a:active {
    border-radius: 5px 5px 0px 0px;
    border: 2px solid #ddd;
    color: #666!important;
    font-weight: 400;
    font-family: Raleway,sans-serif;
}
#search .nav-tabs > li,#search .nav-tabs > li:hover,#search .nav-tabs > li:active {
   
    background-color: white;
}
#search .nav-tabs > li:hover, #search .nav-tabs > li>a:hover,#search > .nav >li>a:hover{
    background-color: white;
    border-color: white;
}
#search .tab-content {
  border-radius: 7px;
  /*border: 1px solid #1f1f1f;*/
  color: #333;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  z-index: 200;
}
#search .tab-pane .row {
      padding: 15px;
}


.form-control {
  font-size: 12px;
  color: #333;
  height: 40px;
  border-radius: 3px;
}
.numbers-row {
  position: relative;
  width: 97px;
  height: 40px;
  overflow: visible;
}
input.qty2 {
  position: relative;
  width: 35px;
  height: 40px;
  border-radius: none;
  text-align: center;
  left: 31px;
  font-size: 12px;
  padding: 5px;
}
.inc {
  background: #fff url(../img/plus.png) no-repeat center center;
  right: 0;
  top: 0;
  border: 1px solid #ccc;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.button_inc {
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  width: 33px;
  height: 40px;
  z-index: 9;
}
.dec {
  background: #fff url(../img/minus.png) no-repeat center center;
  border: 1px solid #ccc;
  left: 0;
  top: 0;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
a.btn_1, .btn_1 {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  background: green;
  cursor: pointer;
  padding: 7px 20px;
  display: inline-block;
  outline: none;
  font-size: 12px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
    margin-top: 25px;
  width: 100%;
}
.btn_1.green {
  background: #83c99f;
}
.btn_1.yellow{
  background: rgba(240, 190, 32, 0.89);
  color: #000;
      padding: 7px;
}
.btn_1.blue{
    background: #4787ED;
}
.btn_1.blue{
    background: #4787ED;
}
button.btn_1.blue:hover {
  background-color: rgba(51, 126, 245, 0.75);
}
#logo {
  margin: 0px auto auto;
  width: 150px;
}
.left {
  float: left!important;
}
.top_design {
  padding: 1px!important;
  margin-top: -5px;
}
.top_btn_1 {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
      background: green;
  cursor: pointer;
  padding: 4px 1px;
  display: inline-block;
  outline: none;
  font-size: 12px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
    margin-top: -5px;
  width: 100%;
}
.h30 {
  height: 30px!important;
}
.pgmenu {
float: left!important;
}
.pgmenu .active {
  border-bottom: 2px solid rgb(102, 132, 218);
}
.pgmenu>li>a{
  font-weight: 700;
  color: rgb(102, 132, 218);
  font-size: 1em;
}
.pgmenu>li>a:hover{
background-color: white;
}
.pgln {
    border-bottom: 1px solid #ebebeb;
}
.pd10{
  padding-top: 10px;
}
.sidebar_wiki {
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}
.info_image{

}
.wiki_title {
    padding: 5px;
  font-weight: 300;
  color: #111;
}
.wiki_text {
  padding: 0px 0px 0px 10px;
  line-height: 15px;
  text-align: justify;
  color: #222;
  font-size: 13px;
  zoom: 1;
  font-family: arial,sans-serif;
}
.place_info {
  font-size: 13px;
  line-height: 1.24;
color: #222;
  font-family: arial,sans-serif;
    margin-left: -20px;
}
.place_info li{
  padding-top: 5px;
}
.place_info span {
  font-weight: bolder;
    color: #222 !important;
}
.wiki_similar h2{
  font-size: 20px;
  float: left;
  color: #111;
  padding: 5px 0px 6px 15px;
}
.wiki_similar span {
  float: right;
  padding: 25px 5px 6px 6px;
}
.ovhidden {
    padding-left: 16px;
  overflow: hidden;
    display: table;
  float: left;
}
.similar_item {
 float: left;
  display: inline;
  margin: 10px;
}
.tdnone:hover,.tdnone:focus,.tdnone:active{
  text-decoration: none;
}
.top_filter_bar {
  float: left;
  margin-right: 15px;
}
.top_filter_bar a {
  color: #6C6C6C;
  font-size: 13px;

}
.detail_topic {

}
.detail_topic:hover {
  text-decoration: none;
}
.fl_title {
    font-size: 22px;
  margin: 15px auto auto 0px;
}
.ull{
  text-decoration: underline;
}
.dinline {
  display: inline;
}


.tour .tour_list {
  margin-bottom: 30px;
  background-color: #fff;
  display: block;
  color: #777;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
}




.img_list {
  overflow: hidden;
  min-height: 220px;
  text-align: center;
  position: relative;
}
.ribbon.popular {
  background: url(../img/ribbon_popular.png) no-repeat 0 0;
}
.ribbon.top_rated {
  background: url(../img/ribbon_top_rated.png) no-repeat 0 0;
}
.ribbon {
  position: absolute;
  top: 0;
  left: -1px;
  width: 78px;
  height: 78px;
  z-index: 1;
}
.img_list a img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}
.img_list img {
  width: auto;
  height: 220px;
  position: absolute;
  left: -10%;
}
.short_info {
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(../img/shadow_tour.png) repeat-x left bottom;
  width: 100%;
  padding: 10px 10px 8px 5px;
  color: #fff;
}
.short_info i {
  font-size: 25px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}
.img_list .short_info {
  padding: 5px;
  text-align: left;
  min-height: 38px;
}
.tour_list_desc {
  padding: 10px 20px 0 0;
  border-right: 1px solid #ededed;
  height: 220px;
  line-height: 17px;
}
.rating {
  font-size: 18px;
}
.tour_list_desc .rating {
  margin: 15px 0 3px -3px;
  font-size: 15px;
}
.rating .voted {
  color: #F90;
}
.rating i {
  padding-right: 3px;
}
.rating small {
  font-size: 12px;
  color: #CCC;
}
.tour_list_desc h3 {
  font-size: 18px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}
.tour h3 {
  text-transform: uppercase;
}
ul.add_info {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.add_info li {
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #ededed;
  text-align: center;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.tooltip_styled {
  display: inline;
  position: relative;
  z-index: 999;
}
.tooltip-item {
  cursor: pointer;
  display: inline-block;
}
ul.add_info li i {
  display: inline-block;
  font-size: 22px;
  top: 6px;
  position: relative;
}
.tooltip-item::after {
  content: '';
  position: absolute;
  width: 300px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}


.tooltip-effect-4 .tooltip-content {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scale3d(0.7,0.3,1);
  transform: scale3d(0.7,0.3,1);
  -webkit-transition: opacity 0.2s,-webkit-transform .2s;
  transition: opacity 0.2s,transform .2s;
}
.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 300px;
  left: 50%;
  margin: 0 0 20px -150px;
  bottom: 100%;
  text-align: left;
  line-height: 20px;
  display: block;
  padding: 15px;
  font-size: 12px;
  color: #fff;
  box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
  background: #333;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}
.tooltip-content h4 {
  display: block;
  margin: 0 0 10px;
  line-height: 14px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
.tooltip_styled:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}

.tooltip-content::after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #333;
  border-width: 10px;
  margin-left: -10px;
}



.price_list {
  display: table;
  height: 220px;
  font-size: 38px;
  color: #e74c3c;
  width: 100%;
  margin-left: -15px;
}
.price_list div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.price_list sup {
  font-size: 28px;
  position: relative;
  top: 4px;
}
.price_list .normal_price_list {
  display: block;
  text-decoration: line-through;
    font-weight: 700;
  font-size: 20px;
  margin-top: 15px;
}
.price_list small {
  font-size: 11px;
  color: #999;
  display: block;
  margin-bottom: 15px;
  line-height: 12px;
}
.price_list p {
  padding: 0;
  margin: 0;
}

.show_detail {
padding-top: 12px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid #7C9CBB;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  width: 120px;
  height: 45px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.toggle_part {
  width: 90%;
    margin: -28px auto;
   /* background: #F7F7F7;*/
  /*border-color: #009800;*/
  -moz-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.25);
}



.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}



#mainflight .segment-overview {
  display: block;
  margin: 0 auto 2em auto;
  width: 45%;
    position: relative;
  float: left;
  overflow: hidden;
  padding: 2em 0;
}
#mainflight .segment-journey {
  background-position: center -120px;
    width: 100%;
  background: #fff url(../img/flight-path.png) center -285px no-repeat;
  border-bottom: 2px solid #CCC;
  float: left;
  height: 70px;
  position: relative;
  font-size: 11px;
}
.segment-overview .segment-departure {
  text-align: left;
  white-space: nowrap;
  min-width: 30px;
  background: #fff url(../img/upaeroplane.png) left 46px no-repeat;
}
.segment-overview .segment-departure-code{
  text-align: left;
  font-weight: 500;
  color: #337722;
}
.segment-overview .segment-departure-time {
  position: absolute;
  bottom: -2em;
  left: 0;
  direction: ltr;
}
.segment-overview .segment-duration {
  position: absolute;
  bottom: 2em;
  font-size: 12px;
  font-style: italic;
  color: #ccc;
  width: 100%;
  text-align: center;
}
.segment-overview .segment-arrival {
  background-position: right bottom;
  float: right;
  text-align: right;
}
.segment-overview .segment-arrival {
  white-space: nowrap;
  min-width: 30px;
  background: #fff url(../img/upaeroplane.png) left 46px no-repeat;
}
.segment-overview .segment-arrival-time {
  position: absolute;
  bottom: -2em;
  right: 0;
  direction: ltr;
}
.segment-layover-duration {
  display: block;
  border-bottom: 2px solid #CCC;
  text-align: center;
  padding-top: 6em;
  font-style: italic;
  color: #F00;
  width: 10%;
  float: left;
  height: 94px;
  position: relative;
  font-size: 11px;
  padding-bottom: 2em;
}


.pd5{
      padding: 5px;
}
.flright {
  float: right!important;
}
.navbar-nav>li>a.lgnbtn,.navbar-nav>li>a.lgnbtn:hover,.navbar-nav>li>a.lgnbtn:active{
       height: 32px;
    margin-right: 10px;
    margin-top: 12px;
    padding-top: 5px;
    color: white;
    font-weight: 500;
    background-color: green;
    border-color: green;
}
.navbar-nav>.open>a.lgnbtn, .navbar-nav>.open>a.lgnbtn:focus, .navbar-nav>.open>a.lgnbtn:hover {
  background-color: green;
  color: white;
}
.navbar-brand {
  padding: 0px 15px;
}
.langbtn {
    border-radius: 3px;
    padding: 3px;
  margin-left: 4px;
    margin-top: 12px;
    border: 1px solid #ccc;
}
.langbtn img {
  height: 16px;
}
li.langbtn a {
  padding: 2px;
}
.fare-options li{
      margin-left: -25px;
  border-bottom: 1px solid #eee;
}
.fare-options label {
    display: inline-block;
    max-width: 100%;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}
.fare-options button {
  margin: 10px;
  width: 100px;
  float: right;
}
.fare-options img {
  margin-bottom: 10px;
}










.footer {
    width: 100%;
    border-top: 1px solid #ccc;
    background: white;
    padding: 30px 0;
    overflow: hidden;
  }
  .center {
    margin: 0 auto;
    text-align: center;
}
  .black {
    color: #111;
}
.footer a {
        font-size: 16px;
    color: rgba(17, 17, 17, 0.8);
    font-weight: 500;
}
a.gotop {
    width: 37px;
    height: 37px;
    display: block;
    text-align: center;
    margin: 0 auto;
        padding-top: 15px;
}
a.gotop img {
    width: 37px;
    height: 37px;
    display: block;
    background: url('../img/sprite.png') 0px -72px;
}
/*footer nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  font-weight: 600;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 5 rgba(0,0,0,.4);
  box-shadow: 0 0 5px rgba(0,0,0,.4);
    z-index: 999;
}
footer nav ul.menu {
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
footer nav ul.menu li {
  float: left;
}
footer nav ul.menu li a {
      padding-left: 50px;
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  color: #444;
  background: url(../img/menu_divider.png) no-repeat center right;
}
footer nav ul.menu li a:hover {
  background: #000 url(../img/menu_divider.png) no-repeat center right;
  color: #fff;
  text-decoration: none;
}
.footer-text {
    padding: 9px 20px 0px 0px;
    float: right;
}*/

